<div class="container">
    <!--  breadcrumb -->
    <ul class="breadcrumb">
        <li> <a >Home</a> </li>
        <li class="active">Register</li>
    </ul>
    <div class="mt40 row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h5 class="heading5">Register</h5>
            <div class="loginbox">
                <form class="form-vertical" server-validate name="signupForm">
                    <fieldset>
                        <div class="control-group" ng-class="{ 'has-error' : signupForm.password.$invalid && signupForm.password.$dirty }">
                            <label  class="control-label">Password:</label>
                            <div class="controls">
                                <input password-strength class="form-control input-lg" type="password" name="password" ng-model="vm.user.password" placeholder="Password" required>
                                <span class="ion-key form-control-feedback"></span>
                                <div class="help-block text-danger" ng-if="signupForm.password.$dirty" ng-messages="signupForm.password.$error">
                                    <div ng-message="required">Password is required.</div>
                                </div>
                            </div>
                        </div>

                        <div class="control-group" ng-class="{ 'has-error' : signupForm.confirmPassword.$invalid && signupForm.confirmPassword.$dirty }">
                            <label  class="control-label">Confirm Password:</label>
                            <div class="controls">
                                <input password-match="vm.user.password" class="form-control input-lg" type="password" name="confirmPassword" ng-model="vm.user.confirmPassword" placeholder="Confirm Password">
                                <span class="ion-key form-control-feedback"></span>
                                <div class="help-block text-danger" ng-if="signupForm.confirmPassword.$dirty" ng-messages="signupForm.confirmPassword.$error">
                                    <div ng-message="compareTo">Password must match.</div>
                                </div>
                            </div>
                        </div>

                        <br>
                        <a class="btn btn-orange" ng-disabled="signupForm.$invalid" ng-click="vm.signup()">Register</a>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="loginbox">
                <h5 class="heading5"> Why Us</h5>
                <p>By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</p>
                <ul class="whyus">
                    <li><i class="fa  fa-magic"></i> <span class="direname">Easy to Understand</span> </li>
                    <li><i class="fa fa-arrow-right"></i> <span class="direname">Fast to Navigate</span> </li>
                    <li><i class="fa fa-th"></i> <span class="direname">Lot of Options</span> </li>
                    <li><i class="fa fa-search"></i><span class="direname">Quick Search</span> </li>
                </ul>
                <br>
                <br>

            </div>
        </div>
    </div>