<div class="container">
    <ul class="breadcrumb">
        <li> <a ng-click="vm.goTo('home')" >Home</a> </li>
        <li class="active"> Manage Products</li>
    </ul>
    <div class="panel panel-default">
        <div class="panel-heading">Manage Products</div>
        <div class="panel-body">
            <button type="button" class="btn btn-info btn-sm" ng-click="vm.goTo('products-edit')">Add Product</button>
            <hr>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Market Price</th>
                        <th>Bulk Quantity</th>
                        <th>Discount</th>
                        <th>Roasted</th>
                        <th>Grind</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr dir-paginate="product in vm.products | itemsPerPage: 20" ui-sref="products-edit({ pId: product.id })">

                        <td><a ui-sref="products-edit({ pId: product.id })">{{product.product_name}}</a></td>
                        <td>{{product.price | currency : 'Rs '}}/ {{product.unit}}</td>
                        <td>{{product.market_price | currency : 'Rs ' }}/ {{product.unit}}</td>
                        <td>{{product.bulk_quantity | number}}</td>
                        <td>{{product.bulk_discount}}</td>
                        <td>{{product.roasted ? "Roasted": ""}}</td>
                        <td>{{product.grinded ? "griding": ""}}</td>
                    </tr>
                    </tbody>
                </table>

                <dir-pagination-controls></dir-pagination-controls>
            </div>
        </div>
    </div>
</div>


