<div class="container">
    <!--    <div class="page_content col-md-7 col-lg-7 col-sm-7 col-xs-12 content-nav">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href=""><i ng-click="vm.goTo('products-list')" class="fa fa-arrow-left"></i></a>
                    <a><i ng-click="vm.goTo('products-edit')" class="fa fa-plus pull-right"></i></a>
                </div>
            </div>
        </div>-->
    <div class="panel panel-default">
        <div class="panel-heading">

            <a href=""><i ng-click="vm.goTo('products-list')" class="fa fa-arrow-left"></i></a>
            Add/Edit Product
            <a><i ng-click="vm.goTo('products-edit')" class="fa fa-plus pull-right"></i></a>
        </div>

        <div class="panel-body">


            <!-- bsActivePane is optional -->
            <div bs-active-pane="activeTab" bs-tabs>
                <div title="Details" bs-pane>
                    <form server-validate class="form-group-sm" name="productForm">
                        <div class="form-group col-md-12">
                            <label>Name</label>
                            <input type="text" class="form-control" name="product_name"
                                   ng-model="vm.product.product_name" required autofocus/>
                            <div class="help-block text-danger" ng-if="productForm.product_name.$dirty"
                                 ng-messages="productForm.product_name.$error">
                                <div ng-message="required">You must enter the product name.</div>
                                <div ng-message="server.error">{{formErrors.product_name}}</div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label>Indian Name</label>
                            <input type="text" class="form-control" name="indian_name" ng-model="vm.product.indian_name"
                                   required/>
                            <div class="help-block text-danger" ng-if="productForm.indian_name.$dirty"
                                 ng-messages="productForm.indian_name.$error">
                                <div ng-message="required">You must enter the indian name.</div>
                                <div ng-message="server.error">{{formErrors.indian_name}}</div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label>Description</label>
                            <textarea rows="3" class="form-control" name="description" ng-model="vm.product.description"
                                      required></textarea>
                            <div class="help-block text-danger" ng-if="productForm.description.$dirty"
                                 ng-messages="productForm.description.$error">
                                <div ng-message="required">You must enter the description.</div>
                                <div ng-message="server.error">{{formErrors.description}}</div>
                            </div>
                        </div>
                        <div class="form-group col-md-12" ng-show="!vm.product.editMode">
                            <label>Unit</label>
                            <input type="text" class="form-control" name="unit" ng-model="vm.product.unit" required/>
                            <div class="help-block text-danger" ng-if="productForm.unit.$dirty"
                                 ng-messages="productForm.unit.$error">
                                <div ng-message="required">You must enter the product unit.</div>
                                <div ng-message="server.error">{{formErrors.unit}}</div>
                            </div>
                        </div>


                        <div class="form-group col-xs-6">
                            <label>Our Price ({{vm.currency}} / {{vm.product.unit}})</label>
                            <input class="form-control" required type="text" step="0.00"  placeholder="0.00" name="price" ng-model="vm.product.price"  />
                            <div class="help-block text-danger" ng-if="productForm.price.$dirty"
                                 ng-messages="productForm.price.$error">
                                <div ng-message="required">You must enter the product price.</div>
                                <div ng-message="server.error">{{formErrors.price}}</div>
                            </div>
                        </div>
                        <div class="form-group col-xs-6">
                            <label>Market Price ({{vm.currency}}/ {{vm.product.unit}})</label>
                            <input class="form-control" type="test" step="0.00"  placeholder="0.00" name="market_price"
                                   ng-model="vm.product.market_price" required/>
                            <div class="help-block text-danger" ng-if="productForm.market_price.$dirty"
                                 ng-messages="productForm.market_price.$error">
                                <div ng-message="required">You must enter the product market_price.</div>
                                <div ng-message="server.error">{{formErrors.market_price}}</div>
                            </div>
                        </div>


                        <div class="form-group col-xs-6">
                            <label>Bulk Quantity</label>
                            <input class="form-control" type="text" step="0.00"  placeholder="0.00" name="bulk_quantity"
                                   ng-model="vm.product.bulk_quantity" required/>
                            <div class="help-block text-danger" ng-if="productForm.bulk_quantity.$dirty"
                                 ng-messages="productForm.bulk_quantity.$error">
                                <div ng-message="required">You must enter the product bulk_quantity.</div>
                                <div ng-message="server.error">{{formErrors.bulk_quantity}}</div>
                            </div>
                        </div>
                        <div class="form-group col-xs-6">
                            <label>Discount</label>
                            <input class="form-control" type="text" step="0.00"  placeholder="0.00" name="bulk_discount"
                                   ng-model="vm.product.bulk_discount" min="0" max="100"/>
                            <div class="help-block text-danger" ng-if="productForm.bulk_discount.$dirty"
                                 ng-messages="productForm.bulk_discount.$error">
                                <div ng-message="required">You must enter the product bulk_quantity.</div>
                                <div ng-message="server.error">{{formErrors.bulk_discount}}</div>
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <label>Category</label>
                            <select name="product_category_id" ng-model="vm.product.product_category_id"
                                    ng-options="category.id as category.product_category for category in vm.categories"
                                    class="form-control width-30">
                            </select>
                            <div class="help-block text-danger" ng-if="productForm.product_category_id.$dirty"
                                 ng-messages="productForm.product_category_id.$error">
                                <div ng-message="required">Select the product category.</div>
                                <div ng-message="server.error">{{formErrors.product_category_id}}</div>
                            </div>
                        </div>
                        <div class="checkbox col-md-12">
                            <label class="checkbox-inline">
                                <input type="checkbox" ng-checked="vm.product.roasted">
                                Roasted
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" ng-checked="vm.product.grinded">
                                Grind
                            </label>
                        </div>


                        <div class="form-group col-md-12" ng-show="!vm.product.editMode">
                            <hr class="width-100">
                            <h4 class="text-info">Would you like to publish your product?</h4>
                            <br>
                            <label class="width-100">
                                <input type="radio" name="active" ng-model="vm.product.active" ng-value="1"> Yes, I want
                            </label>
                            <label class="width-100">
                                <input type="radio" name="active" ng-model="vm.product.active" ng-value="0"> No, not yet
                            </label>
                        </div>
                        <hr class="width-100">
                        <div class="col-xs-12">
                            <button type="submit" class="btn btn-success" ng-disabled="productForm.$invalid"  ng-click="vm.save()">Save Changes</button>
                            <a ng-show="vm.editMode" class="btn btn-link pull-right" ng-click="vm.remove()">Delete</a>
                        </div>

                    </form>

                </div>
                <div title="Upload Images" bs-pane ng-if="vm.editMode">
                    <div class="image-upload" ng-repeat="photo in vm.product_photos">
                        <div class="col-xs-6 ">
                            <img ng-src="{{vm.url}}/{{photo.product_id}}/{{photo.image}}"
                                 class="img-thumbnail width-100">
                            <button type="button" ng-click="vm.removeImage(photo.id)" class="btn btn-default btn-sm">
                                Delete
                            </button>
                        </div>
                    </div>

                    <hr class="col-xs-12 row">
                    <!--<div class="col-xs-12">
                        <h4>Add new image</h4>
                        <input type="file" file-model="vm.product_image"/>
                        <button ng-click="vm.uploadImage()">Upload</button>
                    </div>-->

                    <div class="col-xs-12">
                        <form name="form">
                            <legend>Upload Product image</legend>
                            <button ngf-select="vm.uploadFiles($files, $invalidFiles)" multiple
                                    accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
                                Select Files
                            </button>
                            <br><br>
                            Files:
                            <ul ng-if="vm.fileuploading">
                                <li ng-repeat="f in vm.files" style="font:smaller">{{f.name}} {{f.$errorParam}}
                                    <img ngf-src="f" class="thumb">
                                  <span class="progress" ng-show="f.progress >= 0">
                                    <div style="width:{{f.progress}}%"
                                         ng-bind="f.progress + '%'"></div>
                                  </span>
                                    <span ng-show="f.result">{{f.message}}</span>
                                </li>
                                <li ng-repeat="f in vm.errFiles" style="font:smaller">{{f.name}} {{f.$error}}
                                    {{f.$errorParam}}
                                </li>
                            </ul>
                            {{errorMsg}}
                        </form>
                        <!--<img ngf-src="vm.product_image" class="thumb">
                              <span class="progress" ng-show="vm.product_image.progress >= 0">
                                  <div style="width:{{vm.product_image.progress}}%" ng-bind="vm.product_image.progress + '%'"></div>
                              </span>
                        -->
                    </div>
                    <span ng-show="vm.product_image.result">Upload Successful</span>

                </div>
                <div title="Review" bs-pane ng-if="vm.editMode">
                    <script id="comments.template" type="text/ng-template">
                        <div class="comment">

                            <p>
                                <input type="checkbox" ng-model="review.id" ng-value="0">
                                {{review.user.first_name}} {{review.user.last_name}} :
                                {{review.comment}}
                            </p>
                            <div class="action">
                                <a>Like</a>
                                <a ng-click="vm.showReply(review)">Reply</a>
                                <time am-time-ago="review.created_at"></time>
                            </div>
                            <div ng-if="review.showReply">
                                <div class="form-group">
                                    <textarea autofocus class="form-control" row="3" ng-focus="review.showReply"
                                              ng-model="review.newComment.description"></textarea>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-danger" ng-click="vm.reply(review)">reply</button>
                                    <button class="btn btn-danger" ng-click="review.showReply=false">cancel</button>
                                </div>
                            </div>
                            <ng-include src="'comments.template'" ng-repeat="review in review.replies"></ng-include>
                        </div>
                    </script>
                    <ng-include src="'comments.template'" ng-repeat="review in vm.reviews"></ng-include>
                    <br>
                    <button type="button" ng-click="removeImage(image)" class="btn btn-default btn-sm">Approve</button>
                    <button type="button" ng-click="removeImage(image)" class="btn btn-default btn-sm">Spam</button>
                </div>
            </div>
        </div>
    </div>
</div>
                                