<div ng-include="'app/ang/components/navbar/navbar.html'"></div>
<div class="page_content col-md-7 col-lg-7 col-sm-7 col-xs-12" ng-controller="ShippingListCtrl">
    <div class="panel panel-default">
        <div class="panel-heading">Manage Shipping Class</div>
        <div class="panel-body">
            <button type="button" class="btn btn-info btn-sm" ng-click="goTo('shipping-edit')">Add Shipping Class</button>
            <hr>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="sh in shipping" ui-sref="shipping-edit({ shippingId: sh.id })">
                        <td ng-bind="sh.title"></td>
                        <td ng-bind="sh.description"></td>
                        <td>{{currency}}{{sh.price}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
